ASSISTANT_ID=asst_TmrKkQsRiOMuWjWXcsGlnNFu
OPENAI_API_KEY=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
